<head>
    <style>
        video {
            width: 800px;
            border-radius: 4px;
            margin: 10px 0 0 50px;
        }
        div {
            margin-left: 50px;
        }
    </style>
</head>
<body>
<div>大地的裂变</div>
<video src="../static/WOW_Intro_CTM.m4v" controls></video>
<div>熊猫人之谜</div>
<video src="../static/WOW_Intro_MOP.m4v" controls></video>
<div>德拉诺之王</div>
<video src="../static/WOW_Intro_WOD_1280.m4v" controls></video>
<div>军团再临</div>
<video src="../static/WOW_Intro_ROL_1280.m4v" controls></video>
</body>